.zoom-panel {
	position: absolute;
	top: var(--space-5);
	left: var(--space-6);
	height: var(--top-left-panels-height);
	width: var(--zoom-panel-width);

	display: flex;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: column;
	pointer-events: auto;
	cursor: auto;
}

.zoom-button:not(:last-of-type) {
	border-bottom: var(--glass-border);
}

.zoom-panel > *:last-child {
	border-bottom: none;
}

.zoom-button {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	cursor: pointer;

	color: var(--colorTextSecondary);

	width: var(--zoom-panel-width);
	height: 50%;

	font-size: var(--font-size-xl);
}

.zoom-button:hover {
	color: var(--colorAccent);
}
